target/
.git/
.vscode/
.idea/
.github/
docs/
tests/
tests-e2e/
tests-compliance/
docker-compose.yml
Dockerfile.dev
*.md
*.rdb
*.redis
*.swp
dump.rdb
q.txt
test_parse
test_parse.rs
hello.ttl
learnrdf.ttl
query.ttl
